
<table id="table-1">
		<tr><td><h3>IBM Emp: Home</h3><h4>( MVC )</h4></td></tr>
	 </table>
	 
	 <p>This is the Home page for IBM Emp: Home</p>
	 
	 <h3>資料查詢:</h3>
		 
	 <!-- 錯誤表列 -->
	 
	 <ul>
	   <li><a href='javascript:void(0)'>List</a> all Emps.  <br><br></li>
	   
	   
	   <li>
		 <FORM METHOD="post" ACTION="emp.do" >
			 <b>輸入員工編號 (如7001):</b>
			 <input type="text" name="empno">
			 <input type="hidden" name="action" value="getOne_For_Display">
			 <input type="submit" value="送出">
		 </FORM>
	   </li>
	 
	   <li>
		  <FORM METHOD="post" ACTION="emp.do" >
			<b>選擇員工編號:</b>
			<select size="1" name="empno">
				<option *ngFor="let employee of employees" [value]="employee.empno">{{employee.empno}}</option>
			</select>
			<input type="hidden" name="action" value="getOne_For_Display">
			<input type="submit" value="送出">
		 </FORM>
	   </li>
	   
	   <li>
		  <FORM METHOD="post" ACTION="emp.do" >
			<b>選擇員工姓名:</b>
			<select size="1" name="empno">
					<option *ngFor="let employee of employees" [value]="employee.empno">{{employee.ename}}</option>
			</select>
			<input type="hidden" name="action" value="getOne_For_Display">
			<input type="submit" value="送出">
		  </FORM>
	   </li>
	 </ul>
	 
	 
	 <h3>員工管理</h3>
	 
	 <ul>
	   <li><a href='javascript:void(0)'>Add</a> a new Emp.</li>
	 </ul>
	 

<router-outlet></router-outlet>
