<table id="table-1">
    <tr><td>
       <h3>員工資料修改 - update_emp_input.jsp</h3>
       <h4><a routerLink="/selectPage"><img src="/assets/images/back1.gif" width="100" height="32" border="0">回首頁</a></h4>
    </td></tr>
  </table>
  
  <h3>資料修改:</h3>
  
  <!-- 錯誤表列 -->
  
  <form METHOD="post" ACTION="emp.do" name="form1">
  <table>
    <tr>
      <td>員工編號:<font color=red><b>*</b></font></td>
      <td>{{employee.empno}}</td>
    </tr>
    <tr>
      <td>員工姓名:</td>
      <td><input type="TEXT" name="ename" size="45" value="" /></td>
    </tr>
    <tr>
      <td>職位:</td>
      <td><input type="TEXT" name="job" size="45"	value="" /></td>
    </tr>
    <tr>
      <td>雇用日期:</td>
      <td><input name="hiredate" id="f_date1" type="text" value="" /></td>
    </tr>
    <tr>
      <td>薪水:</td>
      <td><input type="TEXT" name="sal" size="45"	value="" /></td>
    </tr>
    <tr>
      <td>獎金:</td>
      <td><input type="TEXT" name="comm" size="45" value="" /></td>
    </tr>
  
    <tr>
      <td>部門:<font color=red><b>*</b></font></td>
      <td><select size="1" name="deptno">
      </select></td>
    </tr>
  
  </table>
  <br>
  <input type="hidden" name="action" value="update">
  <input type="hidden" name="empno" value="">
  <input type="submit" value="送出修改"></form>
  